mutateogithubready/Intermediate/CachedAssetRegistry/CachedAssetRegistry_0.ref
mutateogithubready/Intermediate/CachedAssetRegistry/CachedAssetRegistry_0_3CE66D434C9363A602AB8F8405BD7EA6.bin
mutateogithubready/Intermediate/CachedAssetRegistry/CachedAssetRegistry_0_44EE1D8948CBC7EA038BE39EC1A35BD7.bin
