# Auto detect text files and perform LF normalization
* text=auto
*.bin filter=lfs diff=lfs merge=lfs -text
*D:/githubgroupproject/mutateo/mutateo-teamproject/mutateogithubready/Intermediate/CachedAssetRegistry/CachedAssetRegistry_0_EF2964A2453C7EC736FA5C8321AEA56E.bin filter=lfs diff=lfs merge=lfs -text
*.db, filter=lfs diff=lfs merge=lfs -text
*.pch
git[[:space:]]lfs[[:space:]]track[[:space:]]*.ipch, filter=lfs diff=lfs merge=lfs -text
*.pch filter=lfs diff=lfs merge=lfs -text
*.ipch,[[:space:]]*.db,[[:space:]]*.pch
git[[:space:]]lfs[[:space:]]track[[:space:]]*.ipch, filter=lfs diff=lfs merge=lfs -text
*.ipch filter=lfs diff=lfs merge=lfs -text
*.VC.db filter=lfs diff=lfs merge=lfs -text
